.tile {
  /* position: absolute; */
  width: 130px;
  height: 130px; 
  /* border: 2px solid #b3661f; */
  border-radius: 5px;
  background-color: rgba(220, 227, 231, 0.78);
  line-height: 130px;
  font-size: 50px;
  text-align: center;
  transition-property: left, top, transform;
  transition-duration: 250ms, 250ms, 100ms;
  transform: scale(1);
}


.row {
    display: flex; 
    justify-content: center;
    gap: 3px;
}

.boardContainer {
  background: linear-gradient(-45deg, #746b63, #9e9180);
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(190, 194, 196);
  display: grid;
  gap: 3px;
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%); /* Adjust for your tile size */
  }
}

.tile.movingDown {
  animation: slideDown 0.5s forwards; /* Adjust timing as needed */
}